# make check
test-suite.log
test/buffer/buffer
test/event_loop/event_loop
test/log/fatal
test/log/log
test/log/logger
test/net/tcp_server/tcp_server
test/unique_fd/unique_fd

*.log
*.trs

# make [all]
libanio.la
samples/echo/echo

.dirstamp
.libs/

*.lo
*.o

# configure
config.h
.deps/
config.log
config.status
libtool
Makefile
stamp-h1

# automake
compile
depcomp
Makefile.in
missing
test-driver

# autoconf
configure
configure~

# autoheader
config.h.in
config.h.in~

# aclocal
aclocal.m4
autom4te.cache/

# libtoolize
config.guess
config.sub
install-sh
ltmain.sh
m4/
